body {
    font-family: Arial, Helvetica, sans-serif;
}

/*Products*/

.productList{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px;
}
.product{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}
.priceBlock {
    width: 50%;
    display: flex;
    justify-content: space-around  ;
    margin-top: 10px;
}
.productPrice{
    font-weight: 600;
    font-size: 19px;
}
.product button{
    background: red;
    color: white;
    border:  none;
    border-radius: 3px;
    padding: 3px;
    font-size: 15px;
    cursor: pointer;
}

/*Header*/
#header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.447);
}
.siteLogo{
    width: 100px;
}
.cartLink{
    display: flex;
    align-items: center;
}
.cartLink span{
    background-color: red;
    color: white ;
    padding:  3px;
    border-radius: 3px;
    margin-left: 3px;
}
.cartLink img{
    width: 70px;
}
.search {
    display: flex;
}
.search input{
    font-size: 17px;
    padding: 3px;
    outline: none;
}
.search button{
    background-color: burlywood;
    color: white;
    border: none;
    font-size: 17px;
    padding: 5px;
    cursor: pointer;
}
/*Cart*/
.cartItem{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid black;
    padding: 20px;
}
.cartItemImg{
    width: 20%;
}
.cartItemInfo{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.cartItemmQuantity{
    width:20% ;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
}
.cartItemPrice{
    width: 15%;
    display: flex;
    flex-direction: column;
}
.removeCartItem{
    width: 10%;
}
.cartItem button{
    background-color: none;
    border: none;
    cursor: pointer;
}
.cartItem button img{
    width: 30px;
    display: flex;
    flex-direction: column;
}
h2{
    text-align: center;
    padding: 10px;
    color: teal;
}
